<transition mode="out-in"
            @before-enter="beforeEnter"
            @enter="enter">
	{#if menuOpened}
	<div class="menudrawer">
		<ul>
			<li><a href="/">{ firstName(current.name)}'s Home</a></li>
			<li><a href="/place">{ firstName(current.name)}'s Places</a></li>
			<li><a href="/group">{firstName(current.name)}'s Group Trips</a></li>
		</ul>
	</div>
	{/if}
</transition>

<script>
    import { firstName } from "./_shared.js";

    import { users } from "../store/users.js";
    import { state } from "../store/state.js";

    export let menuOpened;

    let current;
    $: current = $users[$state.currentUser];
</script>

<style>
  .menudrawer {
    background: rgba(0, 0, 0, 0.8);
    line-height: 1.8;
    text-align: right;
    position: absolute;
    right: 0px;
    top: 45px;
    padding: 20px;
    border-radius: 4px;
    z-index: 10000;
  }

  a,
  a:visited,
  a:active {
    color: white;
  }
</style>