<transition mode="out-in"
            @before-enter="beforeEnter"
            @enter="enter">
	<div class="menudrawer"
	     v-if="menuOpened">
		<ul>
			<li><a href="/">{ firstName(current.name)}'s Home</a></li>
			<li><a href="/place">{ firstName(current.name)}'s Places</a></li>
			<li><a href="/group">{firstName(current.name)}'s Group Trips</a></li>
		</ul>
	</div>
</transition>

<script>
    import { firstName } from "./_shared.js";

    import { users } from "../store/users.js";
    import { state } from "../store/state.js";
    let current;
    $: current = $users[$state.currentUser];
</script>