<div>
	{#each {length: rating} as _}
	<IconBase iconName="full star"
	          color="orangered">
		<IconStarFull />
	</IconBase>
	{/each} {#each {length: maxRating} as _}
	<IconBase iconName="empty star"
	          color="orangered">
		<IconStarEmpty />
	</IconBase>
	{/each}
</div>

<script>
  import IconBase from "./icons/IconBase.html";
  import IconStarFull from "./icons/IconStarFull.html";
  import IconStarEmpty from "./icons/IconStarEmpty.html";

  export let rating = 4;

  let maxRating;
  $: maxRating = 5 - rating;
</script>

<style scoped>
</style>