<svg xmlns="http://www.w3.org/2000/svg"
     width="{width}"
     height="{height}"
     viewBox="0 0 24 24"
     aria-labelledby="{iconName}"
     role="presentation">
	<title id="{iconName}"
	       lang="en">{iconName} icon</title>
	<g fill="{iconColor}">
		<slot />
	</g>
</svg>

<script>
export let iconName = "box";
export let width = 18;
export let height = 18;
export let iconColor = "CurrentColor";
</script>

<style >
  svg {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -2px; /* yes, I'm that particular about formatting */
  }
</style>